*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #060606;

}
#content .row{
    width: 100%;
    height: 100vh;
}

.content img{
    width: 100%;
    height: 250px;
}
.portfolio-images img{
    width: 300px;
    height: auto;
}
.portfolio-images .col-lg-4{
    height: 150px;
}


.modal-message{
    background-color: rgb(26, 26, 26);
}



.menu-line{
    width: 0;
    height: 2px;
    transition: 0.3s;
    background-color: rgb(0, 139, 30);
}
.page:hover .menu-line{
    width: 100%;
    height: 2px;
    background-color: rgb(0, 139, 30);

}


 /* Style for the next and previous buttons */
 

/* about page  */
.page{
    cursor: pointer;
}

#loaded-content {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
  }


.downloadd{
   
    background-color: rgba(255, 255, 255, 0.37);
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
}
.modal-icons{
    position: absolute;
    top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}




/* Media query for mobile view */
@media (max-width: 767px) {
    .gallery-item {
        flex: 0 0 95%; /* Display each item in a single column */
    }
}

 

@media only screen and (max-width: 320px) {
    .portfolio-images img{
        width: 250px;
        height: auto;
    }
    .modal-content {
        max-width: 90%;
        max-height: 70%;
        margin: auto;
    }
    .images {
        display: flex;
        flex-direction: column;
    }
    .downloadd{
        font-size: 11px;
        border-radius: 6px;
        backdrop-filter: blur(10px);
    }
   
    
    
    }

@media only screen and (min-width: 768px) {
    .portfolio-images img{
        width: 220px;
        height: auto;
    }
}